@media only screen and (min-width:0px) and (max-width:480px) {
  .foutar {
    width:100%;
    margin-left: 0px;

   }
   .a1{

    width: 100%;
    margin-left: 0px;

  }
 
  .imgayah {
    width: 100%;
    height: 300px;
     margin-top:5px;
       margin-left: 0PX;
    
  }
  .img{
    border-radius: 9%;
    width: 100%;
    height: 300px;
    margin-left: 0px;
    margin-top: 5px;
  }
  .foutar {
    width: 700PX;
    height: 200px;
    display: grid;
   grid-template-columns: auto auto auto  ;
   grid-template-rows: auto auto ;
   
   }


}


@media only screen and (min-width:481px) and (max-width:768px) {
  .a1{
    background-image: url("a1.jpg");
    display: inline-block;
    width:100%;
    height: 100%;
    margin-left: 0px;}
  }





.navbar-brand{
  font-size: x-large;
  border: plum 1PX ;
  color: white;
  border-style: double;
  border-width: 15px;
  font-family:serif;
 }
 .button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: large;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: #3d3e41;
  color: rgb(255, 255, 255);
 
}
.button1:hover {background-color:  plum;}
.container-fluid {
  background-color: #3d3e41;
}
body {

  margin: 0;
}
.a1{
  background-image: url("a1.jpg");
  display: inline-block;
  width: 90vw;
  margin-left: 70px;}

  .imgayah {
    width: 100%;
    height: 600px;
      margin-top:50px;
       margin-left: 150PX;
    
  }
  .img{
    border-radius: 9%;
  }

.p2 {
  margin: 5%;
  font-weight: bold;
  color: white;
  border: 3px rgb(0, 0, 0) solid;
  background-color:  plum;
  display: inline-block;
  width:500px;
  height: 300px;
  border-radius: 30px;
  margin: 50px;
  opacity: 0.8;
  font-size: x-large;
  text-align: center
}
.p5 {
  margin: 5%;
  font-weight: bold;
  color: white;
  border: 3px  plum solid;
  background-color: #474343;
  display: inline-block;
  width:600px;
  height: 500px;
  border-radius: 30px;
  margin: 50px;
  opacity: 0.8;
  font-size: x-large;
  text-align: center
 
}
.ul{
  color: white;
}
#p4 {
  margin: 5%;
  font-weight: bold;
  color: white;
  border: 3px plum solid;
  background-color: #474343;
  display: inline-block;
  width:500px;
  height: 200px;
  border-radius: 30px;
  margin: 50px;
  opacity: 0.8;
  font-size: x-large;
  text-align: center;
  
 
}
.img2347
{
display: grid;
grid-template-columns: auto auto  ;
grid-template-rows: auto auto auto auto ;
color: white;
width: 100%;
height: 600px;
margin-left: 100px;
padding-left: 100px;
}
.foutar {
  background-color: #646771;
  width: 100%;
  height: 200px;
  text-align: center;
  display: grid;
 grid-template-columns: auto auto auto  ;
 grid-template-rows: auto auto ;
 color: plum ;
 font-size:x-small;
 text-align: center;
 
 }




































